@model List<IMBD.Models.Actors>
@using IMBD.Models

@{
    ViewBag.Title = "Actors List";
}

<h2>Actors List</h2>



<div class="w3-padding w3-white notranslate">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Actor name</th>
                <th>Bio</th>
                <th>Date Of Birth</th>
                <th>Sex</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>


            @foreach (Actors actor in @Model)
    {

        <tr>
            <td>@Html.ActionLink(actor.Name, "view", new { id = actor.Id })</td>
            <td>@actor.Bio</td>
            <td>@actor.Dob.Day/@actor.Dob.Month/@actor.Dob.Year</td>
            <td>@actor.Sex</td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = actor.Id }, new { onclick = "return confirm('Are you sure you want to delete?');" })</td>
        </tr>
}
        </tbody>
    </table>
</div>

