@model IMBD.ViewModel.AddMovieViewModel
@using IMBD.Models
@{

    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add Movies</h2>


<script src="~/Scripts/jquery-1.12.4.js"></script>
<script src="~/Scripts/select2.js"></script>
<link href="~/Content/css/select2.css" rel="stylesheet" />


@using (Html.BeginForm("create", "movies", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
{

    <div class="form-group">
        <label>Name:</label>
        @Html.TextBoxFor(m => m.Name, new
        {
            @class = "form-control",
            oninput = "$('#nameAlert').hide()",
            required = "required",
            oninvalid = "$('#nameAlert').show()",

        })
        @*@Html.ValidationMessageFor(m=>m.Name,"Please enter a Name")*@

        <div class="alert alert-danger fade in alert-dismissable" hidden="hidden" id="nameAlert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
            Please Enter a Name for the Movie
        </div>


        <br />

        <div class="form-group">
            <label>Plot:</label>
            @Html.TextAreaFor(m => m.Plot, new
            {
                @class = "form-control",
                required = "required",
                oninput = "$('#plotAlert').hide()",
                oninvalid = "$('#plotAlert').hide()"
            })
        </div>
        <div class="alert alert-danger fade in alert-dismissable" hidden="hidden" id="plotAlert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
            Please Enter A Plot for the Movie
        </div>


        <div class="form-group">
            <label>Release Date:</label>
            <br />
            @Html.TextBoxFor(m => m.ReleaseDate, new
            {
                @class = "form-control",
                reqired = "true",
                type = "date",
            })
        </div>
        <div class="alert alert-danger fade in alert-dismissable" hidden="hidden">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
            Please Enter A Date for the Movie
        </div>

        <div class="form-group">
            <label for="Producers">Add Producers:</label>
            <br />
            <div id="plist">
                @Html.DropDownListFor(m => m.ProducerId, new SelectList(Model.Producers, "Id", "Name"), "Select Producers", new { @class = "form-control", id = "Producerdd" })
            </div>
            <div class="alert alert-danger fade in alert-dismissable" hidden="hidden">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                Please Enter select a Producer for the Movie
            </div>

            <div class="col-md-1" id="prodiv">
                <button id="btnAddProducer" type="button"
                        class="btn btn-primary" data-target="#ProducerModal" data-toggle="modal">
                    Add Producer
                </button>
            </div>
        </div>


        <div class="form-group" id="actfg">
            <div id="ac">

                <label id="acl">Add Actors:</label>
                <br />

                @Html.ListBoxFor(m => m.ActorIds, new MultiSelectList(Model.Actors, "Id", "Name"), new { @class = "form-control", id = "Actordd", Multiple = "multiple", style = "width=200" })

            </div>
            <div class="alert alert-danger fade in alert-dismissable" hidden="hidden">
                <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
                Please select some Actors for the Movie
            </div>

            <div class="col-md-1" id="actdiv">
                <button id="btnAddActor" type="button"
                        class="btn btn-primary" data-target="#ActorModal" data-toggle="modal">
                    Add Actor
                </button>
            </div>
        </div>

        <div class="form-group">
            <label id="acl">Movie poster:</label>

            @Html.TextBoxFor(m => m.File, new { @class = "form-control", type = "file" })
        </div>

    </div>


    <div class="row">
        <div class="col-md-1" id="am">
            <button type="submit" id="AddMovie" class="btn btn-primary">Save</button>
        </div>
    </div>



    @*<script src="~/Scripts/chosen.jquery.js"></script>*@





    @*<link href="~/Content/chosen.css" rel="stylesheet" />*@
}


@*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@

<div class="modal fade" tabindex="-1" id="ActorModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    ×
                </button>
                <h4 class="modal-title">Add new Actor</h4>
            </div>
            <div class="modal-body">

                @Html.Partial("ActorForm")

            </div>

        </div>
    </div>
</div>








@*This is the pop up for Producers*@




<div class="modal fade" tabindex="-2" id="ProducerModal"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    ×
                </button>
                <h4 class="modal-title">Add new Producer</h4>
            </div>
            <div class="modal-body">
                @*<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@
                @Html.Partial("ProducerForm")

            </div>

        </div>
    </div>
</div>

<% Styles.Render("~/Content/addMovie")%>
<% Scripts.Render("~/bundles/addMovie")%>


<script src="~/Scripts/IMBD_scripts/addMovie.js"></script>

<link href="~/Content/IMDB_Styles/AddMovie.css" rel="stylesheet" />



@*<script src="~/Scripts/jquery-1.12.4.min.js"></script>*@

