@model List<IMBD.Models.Movies>
@using IMBD.Models

@{
    ViewBag.Title = "Movies List";
}

<h2>Movies List</h2>


<div class="w3-padding w3-white notranslate">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Poster Image</th>
                <th>Movie name</th>
                <th>Year Of Release</th>
                <th>Plot</th>
                <th>Producer</th>
                <th>Actors</th>
                <th>Modify</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Movies movie in @Model)
    {

        <tr>
            @{
        string image = "~/Content/Posters/" + movie.Id + ".jpg";
            }
            <td><img src="@Url.Content(image)" height="80" width="80" /></td>
            <td>@Html.ActionLink(movie.Name, "view", new { id = movie.Id })</td>
            <td>@movie.ReleaseDate.Month/@movie.ReleaseDate.Day/@movie.ReleaseDate.Year</td>
            <td>@movie.Plot</td>
            <td>@movie.producer.Name</td>
            <td>Under Construction</td>
            <td>@Html.ActionLink("Modify", "Modify", new { id = movie.Id }, new { onclick = "return confirm('Are you sure want you want to modify?');" })</td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = movie.Id }, new { onclick = "return confirm('Are you sure you want to delete?');" })</td>



        </tr>
}

        </tbody>
    </table>
</div>
