@model IMBD.Models.Movies

@{
    ViewBag.Title = "ViewMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ViewMovie</h2>
@{
    string image = "~/Content/Posters/" + Model.Id + ".jpg";
}
<img src="@Url.Content(image)" />
<h2>Movie Name:</h2><h4>@Model.Name</h4>
<h2>Release Date:</h2><h4>@Model.ReleaseDate.Month/@Model.ReleaseDate.Day/@Model.ReleaseDate.Year</h4>
<h2>Producer:</h2><h4>@Model.producer.Name</h4>
<h2>Actors:</h2>
@if (Model.Actor_movie.Count == 0)
{
    <text>No one has Acted in this movie</text>
}
else
{
    <ul>
        @foreach (var actor in Model.Actor_movie)
        {
            <li>@actor.Actor.Name</li>
        }

    </ul>
}








